body {
	background-color: beige;
	
}	

nav {
	background-color: cyan;
	width: 100%;
	float: left;
	position: fixed;
	height: 20%;
}
.sidenav {
background-color: red;
	width: 15%;
	float: left;
	position: fixed;
	height: 85%;
	bottom: 0%;

}
header {
	background-color: darkturquoise;
	margin: 12px; 
	text-align: center;

}
main {
	background-color: cyan;
	margin-left: 5%;
	margin-top: 15%;
	width: 45%;
	float: left;
	margin-bottom: 10%;
	padding:5px
}
footer {
	width: 25%;
	background-color: cyan;
	float: inline-end;
	margin-top: 10%;
	margin-left: 10%;
}
