body {
	background-color: beige;
	height: 100%;
}	

nav {
	background-color: cyan;
	width: 45px;
	float: left;
}
header {
	background-color: darkturquoise;
	margin: 12px; 
	text-align: center;
	text-decoration-color: gold;
}
main {
	background-color: cyan;
	margin-left: 5%;
	margin-top: 2%;
	width: 45%;
	float: left;
}
footer {
	width: 25%;
	background-color: cyan;
	float: inline-end;
	margin-top: 10%;
	margin-left: 10%;
}
